@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
}

@layer components {
  .bg-gradient-rose {
    background: linear-gradient(135deg, #FF85B1 0%, #FFE4B2 100%);
  }
  .bg-gradient-blue {
    background: linear-gradient(135deg, #3B82F6 0%, #60A5FA 100%);
  }
  .bg-gradient-teal {
    background: linear-gradient(135deg, #0D9488 0%, #34D399 100%);
  }
  .bg-gradient-orange {
    background: linear-gradient(135deg, #F97316 0%, #FDE68A 100%);
  }
  .bg-gradient-purple {
    background: linear-gradient(135deg, #C4B5FD 0%, #93C5FD 100%);
  }
  .bg-gradient-green {
    background: linear-gradient(135deg, #22C55E 0%, #86EFAC 100%);
  }
}
